<div class="relative">
  <div class="navbar glassy-navbar absolute top-0 left-0 w-full z-50">
    <div class="navbar-start">
      <ul class="menu menu-horizontal flex flex-nowrap items-baseline">
        <li>
          <div [routerLink]="['/home']">
            <app-profile-image>
            </app-profile-image>
          </div>
        </li>
        <li>
          <a [routerLink]="'work'">
            Work
          </a>
        </li>
        <li>
          <a [routerLink]="'projects'">
            Projects
          </a>
        </li>
        <li>
          <a [routerLink]="'blogs'">
            Blogs
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <app-theme-toggler>
      </app-theme-toggler>
    </div>
  </div>
</div>

