<div class="mt-20">
  @if (!isLoading && hasNoProjects()) {
    <app-empty-page>
    </app-empty-page>
  }

  @if (!isLoading && !hasNoProjects()) {
    <h1 class="text-3xl font-bold opacity-80 text-gray-500 dark:text-gray-400">
    <span class="inline-block transition-transform duration-200 hover:scale-110">
      <span class="text-cyan-200 dark:text-purple-500 ">/</span> Projects
    </span>
    </h1>
    <p class="mt-4 opacity-90 text-base md:text-md text-slate-500 dark:text-slate-400 ">
      My projects so far.
    </p>

    <hr class="my-8"/>

    <p class="text-2xl mb-8 font-bold opacity-80 text-gray-500 dark:text-gray-400">
      All Projects <span class="text-sm font-light">({{ projects.length }} projects)</span>
    </p>

    <app-project-list
      [projects]="projects">
    </app-project-list>
  }
</div>
