@if (projects) {
  <h1 class="text-3xl font-bold opacity-80 text-gray-500 dark:text-gray-400">
    <span class="inline-block transition-transform duration-200 hover:scale-110">
      <span class="text-cyan-200 dark:text-purple-500 ">/</span> Projects
    </span>
  </h1>

  <div class="mt-4">
    <app-project-list
      [projects]="projects"
      [displayAllProjects]="false"
      [visibleProjectCount]="2">
    </app-project-list>
  </div>

  <div class="flex justify-center items-center mt-4">
    <button [class]="STYLE_CONSTANTS.btnGlassTheme"
            [routerLink]="'/projects'">
      View All Projects
    </button>
  </div>
}
