@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button.btn {
    background-color: var(--btn-color, initial) !important;
  }
}

html {
  transition: background-color 0.4s ease, color 0.4s ease, filter 0.3s ease;
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html[data-theme='dark'] {
  filter: brightness(0.95);
}

:root,
:root * {
  transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1),
  color 0.4s cubic-bezier(0.19, 1, 0.22, 1),
  border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1),
  box-shadow 0.4s cubic-bezier(0.19, 1, 0.22, 1),
  fill 0.4s cubic-bezier(0.19, 1, 0.22, 1),
  stroke 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

:root.no-transitions,
:root.no-transitions * {
  transition: none !important;
}

/*Animations*/
.fade-page {
  animation: fadeInZoom 1.4s cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: center center;
  will-change: transform, opacity;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.88) translateY(30px);
    filter: blur(15px) brightness(1.1);
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0px) brightness(1);
  }
}
